:root {
    --content-width: 900px;
}

#app {
    .page {
        background-image: linear-gradient(90deg, rgba(60, 10, 30, .04) 3%, transparent 0), linear-gradient(1turn, rgba(60, 10, 30, .04) 3%, transparent 0);
        background-size: 20px 20px;
        background-position: 50%;
        min-height: 100vh;

        .page-nav .inner {
            border-top: 1px solid var(--c-text-accent);
        }
    }
}